<h2>Saludos, {{ app.user.nombrecompleto }} Bienvenido a SACAF</h2>
<img class="imagen_formato" src="{{ asset("bundles/inhack20inventario/images/picture-rail/003.jpg") }}" alt="Mobiliario" width="180" height="179" />
<p>SACAF es un software dise&ntilde;ado para administrar todos los procesos de incorporaci&oacute;n, distribuci&oacute;n y desincorporaci&oacute;n de Activos (sillas, escritorios, muebles, veh&iacute;culos, computadoras, impresoras, laptos, etc).</p>
<p>A trav&eacute;s de su interfaz amigable le permitir&aacute; realizar la administración de equipos de una forma r&aacute;pida y eficaz.</p>
<p>Facilita la consulta y generaci&oacute;n de reportes, utilizados para llevar los inventarios de los Activos.</p>
<p>Permite importar datos existentes al sistema de manera sencilla para minimizar el trabajo.</p>