# Bootstrap
app/bootstrap*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.rar
*.sql
*.tar.*
*.zip
*.db
# Comandos mas usados
*.cmd

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/
app/bootstrap.php.cache
build/
vendor/
composer.phar

## IDE files to ignore
nbproject/
.idea/
*.tmproj

# Configuration files
app/config/parameters.ini

bd/
