{% extends app.request.isXmlHttpRequest ? 'INHack20InventarioBundle::base_ajax.html.twig' : 'INHack20InventarioBundle::base.html.twig' %}
{% block titulo %}A&ntilde;adir Ubicaci&oacute;n{% endblock %}
{% block contenido %}
<h1 class="textoDecorado">A&ntilde;adir Ubicaci&oacute;n</h1>
<br/><br/><br/>
<form id="frmRegistrar" action="{{ path('ubicacion_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br/><br/>
    <p align="center">
        <button type="submit" class="miBoton">A&ntilde;adir</button>
    </p>
</form>
{% include 'INHack20InventarioBundle:JS:ajaxFrmRegistrar.js.twig' %}
{% endblock %}