{% extends app.request.isXmlHttpRequest ? 'INHack20InventarioBundle::base_ajax.html.twig' : 'INHack20InventarioBundle::base.html.twig' %}
{% block titulo %}Listado de Firmas{% endblock %}
{% block css %}
{{ parent() }}
    {% include 'INHack20InventarioBundle:Principal:formatotabla.html.twig' %}
{% endblock %}
{% block contenido %}

<br/>
<div id="result-busqueda">
    {% include 'INHack20InventarioBundle:Firma:lista.html.twig' %}
</div> 
<br/>

{% endblock %}