.miBoton {
    border-top: 1px solid #97f7b1;
   background: #3b701c;
   background: -webkit-gradient(linear, left top, left bottom, from(#07a888), to(#3b701c));
   background: -webkit-linear-gradient(top, #07a888, #3b701c);
   background: -moz-linear-gradient(top, #07a888, #3b701c);
   background: -ms-linear-gradient(top, #07a888, #3b701c);
   background: -o-linear-gradient(top, #07a888, #3b701c);
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e595f', endColorstr='#4e595f');
	background-color:#4e595f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e595f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #626973;
}.miBoton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4e595f), color-stop(1, #4e595f) );
	background:-moz-linear-gradient( center top, #4e595f 5%, #4e595f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e595f', endColorstr='#4e595f');
	
        border-top-color: #287828;
         background: #287828;
        color: #ccc;
}.miBoton:active {
	position:relative;
	top:1px;
        background: #1c612d;
        border-top-color: #1c612d;
}
   

   
   
.miBoton-2 {
   border-top: 1px solid #97f7a5;
   background: #65d676;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c49), to(#65d676));
   background: -webkit-linear-gradient(top, #3e9c49, #65d676);
   background: -moz-linear-gradient(top, #3e9c49, #65d676);
   background: -ms-linear-gradient(top, #3e9c49, #65d676);
   background: -o-linear-gradient(top, #3e9c49, #65d676);
   padding: 5px 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.miBoton-2:hover {
   border-top-color: #287834;
   background: #287834;
   color: #ccc;
   }
.miBoton-2:active {
   border-top-color: #205c1b;
   background: #205c1b;
   }
   
.ui-dialog-buttonset button {
   border-top: 1px solid #97f7a5;
   background: #65d676;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c49), to(#65d676));
   background: -webkit-linear-gradient(top, #3e9c49, #65d676);
   background: -moz-linear-gradient(top, #3e9c49, #65d676);
   background: -ms-linear-gradient(top, #3e9c49, #65d676);
   background: -o-linear-gradient(top, #3e9c49, #65d676);
   padding: 5px 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.ui-dialog-buttonset button:hover {
   border-top-color: #287834;
   background: #287834;
   color: #ccc;
   }
.ui-dialog-buttonset button:active {
   border-top-color: #205c1b;
   background: #205c1b;
   }